html, body, .jumbotron {
    background: url("../img/beer.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.jumbotron h1 {
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px #ff0000;
}

.jumbotron p {
    font-style: italic;
    color: white;
    text-shadow: 1px 1px #0000ff;
}

.panel {
    opacity: 0.75;
}

.panel-heading {
    font-size: 115%;
    text-align: center;
    text-shadow: 3px 3px #000000;
}

.panel-body {
    background-color: #BE7DE6;
    cursor: pointer;
}

.panel-body > img {
    position: relative;
}


.panel-body:hover {
    background: rgba(0,0,0,.9);
    transition: 1s;
}

.panel-body:hover > img {
    filter: blur(2px) brightness(30%);
    transition: 1s;
}

div .hover-text {
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    z-index: 10;
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    left: 20px;
    bottom: 0px;
}

.panel-footer.panel-custom {
    background: orange;
    font-size: 105%;
    text-align: center;
    text-shadow: 1px 1px #ff0000;
}

.beer-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 250px;
}

.footer-custom {
    text-align: center;
}

.footer-custom > p {
    color: white;
    font-size: 16px;
}
.footer-custom > a:link {
    color: white;
    font-size: 14px;
}

.footer-custom > a:hover {
    color: #FF00FF;
}

.error {
    color: darkred;
    font-size: 300px;
}